.flex-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 2;
    /* lingid ei jaa overlay alla, muidu ei saa vajutada */
}

.flex-nav li {
    margin: 0 50px;
    display: inline;
}

.flex-nav a {
    font-size: 2em;
    color: #333;
    /*teksti varv */
    text-decoration: none;
    /* votab joone alt ara */
    margin: 0 15px;
    /* suuremad vahed sonadel */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    transition: background-color 1s, transform 0.5s;
}

.flex-nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* Change background on hover */
    color: #0f4b8f;
    /* Change text color on hover */
}